.vs/Elysynth/v17/.suo
.vs/Elysynth/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
.vs/Elysynth/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
.vs/Elysynth/CopilotIndices/17.13.439.2385/SemanticSymbols.db
.vs/Elysynth/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
.vs/Elysynth/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
.vs/Elysynth/CopilotIndices/17.13.439.2385/CodeChunks.db
.vs/Elysynth/v17/DocumentLayout.json
Elysynth/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Elysynth/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Elysynth/obj/Debug/Elysynth.csproj.AssemblyReference.cache
.vs/Elysynth/FileContentIndex/6de55ca9-9d42-4c95-a1a7-02d95bff1e29.vsidx
.vs/Elysynth/FileContentIndex/75418252-d4b0-4a1f-8c18-2a9ba42b4f66.vsidx
.vs/Elysynth/FileContentIndex/a260bddc-f199-44ab-9904-f2130bf6144b.vsidx
.vs/Elysynth/FileContentIndex/c9d0f033-e4f2-4f87-9489-485f285f2485.vsidx
.vs/Elysynth/FileContentIndex/d2e8281b-fa64-4569-8656-a1420676f6ce.vsidx
Elysynth/Properties/AssemblyInfo.cs
Elysynth/App.config
Engine/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Engine/obj/Debug/Engine.csproj.AssemblyReference.cache
Engine/Properties/AssemblyInfo.cs
Models/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Models/obj/Debug/Models.csproj.AssemblyReference.cache
Models/Properties/AssemblyInfo.cs
.vs/Elysynth/v17/DocumentLayout.backup.json
.vs/Elysynth/FileContentIndex/0d5199ed-0c8f-4300-8a8e-ef157f9e5192.vsidx
.vs/Elysynth/copilot-chat/421acea9/sessions/d37eb941-2679-4389-9d23-13291dc4cfc6
.vs/Elysynth/FileContentIndex/4bb20aa1-1060-400a-80e9-67cefec37f66.vsidx
