/Elysynth/bin
/Elysynth/obj
/EngineSystem/bin
/EngineSystem/obj
/Models/obj
/Models/bin
/.vs
/DataCore/bin
/DataCore/obj
/Core/bin
/Core/obj
/Configuration/bin
/Configuration/obj
/Engine/obj
/ElysynthCLI/bin
/ElysynthCLI/obj
/Management/obj
/Management/bin
/ElysynthGUI/bin/Debug
/ElysynthGUI/obj
/Engine/bin
/packages
